
.character {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: 934px;
  border: 2px solid #8c0000;
  padding: 12px;
  background: #111;
}
.unit-btn {
  text-align: center;
  color: white;
  background: #818589;
  border-bottom: 2px solid #E5E4E2;
  width: 100%;
  padding: 10px;
}
.char {
  width: 100%;
  height: 100%;
  border: 2px solid #E5E4E2;
  color: white;
}
.abilities, .passives {
  border: 2px solid #848884;
}
.index {
  display: flex;
  width: 934px;
  border: 2px solid #8c0000;
  color: white;
  background: black;
}
.tab-btn, .enemy-btn {
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    background: #353935;
    color: white;
}
.tab-btn.active {
    border-bottom: 3px solid black;
    color: gold;
}
.tab-content {
    display: none;
    padding: 20px;
    background: #111;
    color: white;
}
.tab-content.active {
    display: block;
}
#start-btn {
  font-weight: bold;
  position: absolute;
  background: #353935;
  color: white;
  left: 40%;
}

#battle {
  background-image: url('https://limbuscompany.wiki.gg/images/Der_Fluchsch%C3%BCtze_BG_2.png?5b1b93=&format=original');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 96vh;
}
#combatLog {
  width: 70%;
  height: 200px;
  margin: 20px auto;
  background: #111;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  font-size: 14px;
  border: 1px solid #444;
  opacity: 0.8;
}
#battleinfo {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.side {
  width: 45%;
  text-align: center;
}
.hp-bar {
    width: 100%;
    height: 20px;
    background: #444;
    border: 2px solid #000;
    border-radius: 4px;
    margin-bottom: 5px;
}
.hp-fill {
    height: 100%;
    background: red;
    width: 100%;
    transition: width 0.3s;
}
.hp-text {
    color: white;
    font-weight: bold;
}
.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    z-index: 999;
}

.end-screen button {
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 20px;
}